<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./../../assets/pic1.jpg" width="100" height="250" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Amarendra Bahubali</h5>
        <p class="card-text">Amarendra Baahubalis father is Vikrama Deva.He is the king of Maahismathi and we can see why Bijjala Deva is obsessed with his son Bhallala getting the throne as he(bhijjala) wasnt offered the throne as he was physically unfit(as he thinks its the reason). Amarendra Baahubali mother died giving birth to him.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./../../assets/pic2.jpg" width="100" height="250" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Devasena's Boy</h5>
        <p class="card-text">Fell in love with Devasena.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./../../assets/pic3.jpg" width="100" height="250" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Bahubali</h5>
        <p class="card-text">Devasena is one of the protagonists of Baahubali and Baahubali 2. Devasena is the princess of Kunthala. Devasena is the widow of late Amarendra Baahubali ...</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
