  <nav class='navbar navbar-expand navbar-light bg-light'>

      <ul class='nav nav-pills'>

          <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/welcome']">Welcome</a></li>
          <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/bride']">Bride</a></li>
          <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/groom']">Groom</a></li>
          <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/guestBook']">GuestBook</a></li>

    </ul>
</nav>

<div class='container'>
    <router-outlet></router-outlet>
  </div>

