<form (submit)="onAddBless(bblessForm)" #bblessForm="ngForm">
<div class="container">
    <input type="text" name="bless_name" class="form-control" required ngModel #name="ngModel" placeholder="Hi! Your name please" aria-label="Username" aria-describedby="basic-addon1">
    <input type="text" name="bless_comment" class="form-control" required ngModel #bless="ngModel" placeholder="Leave your blessings, thanks!" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <button  type="submit" class="input-group-text" id="basic-addon2" (click)="feedBlessings()">Enter</button>
  </div>


  <div class="container" *ngFor="let item of blessings">
      <div class="row">
          <div class="container" >
                <blockquote class="quote-card" >
                  <p>
                      {{item.comment}}
                  </p>

                  <cite>
                    {{ item.guest}}
                  </cite>
                </blockquote>
            </div>
      </div>
    </div>
  </form>
